@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
}

body {
    background-color: #000;
}

.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-container {
    padding: 10px;
    text-align: center;
}

.image img {
    width: 300px;
}

.image-container h1 {
    color: #00bcd4;
    font-size: 40px;
}

.image-container p {
    color: #c0c0c0;
    margin: 10px 0 40px;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 50px;
    border-radius: 20px;
    background: rgba(202, 253, 255, 0.5);
}

.talk {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.talk i {
    font-size: 24px;
    color: #00bcd4;
}

.content {
    color: #aed0d0;
    font-size: 18px;
    margin-left: 20px;
}
